@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0px;
    padding: 0px;
}
header {
    margin: 0 10%;
}
span {
    color: #E95A08;
}
section {
    margin: 0 10%;
}
.noto-serif-spanfont {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 65px;
  font-style: bold;
  font-variation-settings:
    "wdth" 100;
}

.inter-grayfont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 22px;
  font-style: normal;
  color: rgba(0, 0, 0, 0.5);
}

/* Nav-bar design */
header nav ul li a {
    color: black;
    text-decoration: none;
}
header nav ul li img {
    width: 24px;
    height: 24px;
}
header nav ul li {
    list-style: none;
    margin: 5px;
    display: flex;
    align-items: center;
    color: black;
    padding: 18px;
    font-family: '';
    font-weight: bold;
}
header nav ul {
    display: flex;
}
header nav img {
    width: 135px;
    height: 82px;
}
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto;
    margin-bottom: 0px;
}


.banner {
    display: flex;
    align-items: end;
    margin: 120px auto;
}
.banner img {
    position: right bottom;
    width: 570px;
    height: 355px;
    margin: 0px;
    padding: 0px;
}
.banner div {
    margin: 0px;
    padding: 0px;
}
.banner div h1 {
    font-family: "Noto Serif", serif;
}

.product-title {
    text-align: center;
}
.product-title p {
    padding: 0% 20%;
}
.product-items {
    display: grid;
    grid-template-columns: repeat(4,2fr);
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 3%;
}
.card {
    border-radius: 5px;
    box-shadow: 5px 2px 1px 1px 1 black;
}
.card:hover {
    transform: scale(1.05);
}
.card img{
    width: 100%;
    border-radius: 5px;
}
.card button {
    width: 100%;
    background-color: #E95A08;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 8%;
    font-weight: bold;
}
.card button:hover {
    transform: scale(1.04);
    background-color: #f57434;

}

@media (max-width: 576px) {
    header {
        margin: 0px;
    }
    header nav img {
        width: 63px;
        height: 38px;
    }
    header nav {
        margin: 0px;
        align-items: center;
    }
    .hidden {
        display: none;
    }
    header nav ul li {
        height: 24px;
    }
    .banner {
        flex-direction: column-reverse;
        margin: 0px;
    }
    .banner div {
        padding-left: 16px;
    }
    .banner img {
        width: 393px;
        height: 245px;
        margin: 0px;
        padding: 0px;
    }
    .product-title p {
    padding: 0px 28px;
    }
    .product-items {
        grid-template-columns: repeat(2,1fr);
    }
    .card img{
        width: 100%;
        border-radius: 5px;
    }
    .card button {
    padding: 15px 2px;
    }
}

@media (min-width: 576px) and (max-width:768px){
    header nav {
        margin: 0px;
    }
    header {
        margin: 0px;
    }
    .product-items {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 28px auto;
    }
    .product-title p {
    padding: 0px 28px;
    }
}

