header nav ul li a {
    color: black;
    text-decoration: none;
}
.nav-li-color {
    color: #8987A1;
}
header nav ul li img {
    width: 24px;
    height: 24px;
}
header nav ul li {
    list-style: none;
    margin: 5px;
    display: flex;
    align-items: center;
    color: black;
    padding: 18px;
    font-family: '';
    font-weight: bold;
}
header nav ul {
    display: flex;
}
header nav img {
    width: 135px;
    height: 82px;
}
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 150px;
}


@media (max-width: 576px) {
    header nav img {
        width: 63px;
        height: 38px;
    }
    header nav {
        margin: 0px;
        align-items: center;
    }
    .hidden {
        display: none;
    }
    header nav ul li {
        height: 24px;
    }
}